* {
    margin: 0;
    padding: 0;
}

.sidebar_menu2 img {
    width: 97%;
}

.get_app img {
    width: 100%;
}

.myntra_support li a {
    text-decoration: none;
    color: rgba(243, 10, 49, 0.344);
    border: 2px solid rgba(248, 5, 5, 0.683);
    border-radius: 8px;
    margin-left: 5px;
}


.btn1 {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 12px;
}

.close_logo {
    position: relative;
    left: 275px;
    opacity: 0;
}

.right_logo {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    font-weight: 600;
}

.logo .log {
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar_menu {
    position: fixed;
    width: 300px;
    left: -300px;
    transition: all 0.3s linear;
    background-color: rgb(233, 227, 227);
}

.main_box .menu li {
    margin-top: 3px;
    padding: 3px 8px;
}

.main_box .myntra_support li {
    margin-top: 5px;
    padding: 3px 8px;
}

#check {
    display: none;
}

.main_box li:hover {
    cursor: pointer;
}

.menu_logo {
    margin-top: -6px;
}

.menu_logo,
.close_logo:hover {
    cursor: pointer;
}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn1 {
    opacity: 0;
}

#check:checked~.sidebar_menu .btn2 .close_logo {
    opacity: 1;
}

@media (max-width:600px) {
    .sidebar_menu {
        margin-top: -30px;
        height: 100vh;
    }

    .logo img {
        margin-top: -25px;
        margin-left: -3px;
        width: 100%;
    }

    .get_app img {
        margin-top: 108px;
    }
}